* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: #f3f2;
    color: #080808;
}

h1 {
    display: block;
    color: rgb(87, 57, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

form {
    background-color: #ddd;
    color: #111;
}

input,
textarea,
select,
button {
    padding: .75rem;
    width: 300px;
}

button {
    background-color: navy;
    color: #fff;
    display: block;
    border: 1px;
    border-radius: .5rem;
}

code {
    display: block;
    color: rgb(32, 31, 29);
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px;
}

.quiz-test {
    border: none;
}