* {
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

:root {
    --padding: 10px;
    --color1: white;
    --color2: darkblue;
}

nav {
    background-color: var(--color2);
    color: var(--color1);
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--color1);
    display: block;
    padding: var(--padding);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff
}

h1 {

    color: var(--color2);
    padding: 16px;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid pink;
    box-shadow: 0 0 30px red;
    padding: var(--padding);
}

p {
    padding: 0px;
}

aside {
    margin: 1rem;
    width: 20rem;
    Border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #eee;
    padding: 1rem;
    color: #333;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;

}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid #000;
}